:root {
  --p-family: 'Raleway';
  --h-family: 'Lora';
  --black: hsla(0, 0%, 0%, 0.73);
  --white: #fffafa;
}

/* GENERAL */

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--white);
  word-wrap: break-word;
  background-color: var(--white);
}

h1 {
  font-family: var(--h-family);
  font-style: normal;
  font-weight: 700;
  color: var(--black);
}

h2 {
  font-family: var(--h-family);
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  color: var(--black);
  margin-top: 0px;
}

h3 {
  font-family: var(--h-family);
  font-style: normal;
  font-weight: 700;
  color: var(--black);
  font-size: 30px;
  font-style: italic;
}

h4 {
  font-family: var(--h-family);
  font-style: normal;
  font-weight: 700;
}

p {
  font-family: var(--p-family);
  font-style: normal;
  font-weight: 400;
  font-size: 118%;
  color: var(--black);
  line-height: 1.58em;
}

p strong {
  font-style: normal;
  font-weight: 700;
}

a {
  text-decoration: underline;
  text-decoration-color: rgba(40, 20, 120, 0.9);
  color: rgba(40, 20, 120, 0.9);
  font-weight: 500;
}

#to-agenda {
  visibility: hidden;
  position: fixed;
  bottom: 30px;
  right: 30px;
  border-radius: 50%;
  background-color: #ffd972;
  box-shadow: 0 4px 5px 0 #666;
  padding: 5px;
}

#archery {
  background-image: url('../asset/archery-b.png');
  width: 35px;
  height: 35px;
  background-size: cover;
}

#to-agenda a {
}

#to-agenda img {
  width: 50px;
}

/* RUBRIQUE LETTRES */
/* et article lettres */

.section li {
  padding: 0 10px 10px 0;
}

.article-lettre {
  max-width: 600px !important;
}

.lettres-liens a {
  text-transform: uppercase;
  text-decoration: none;
  color: var(--black);
  /* display: inline-block;
  word-break: break-all;*/
} 

.lettres-liens {
  display: inline;
  -ms-word-break: break-all;
  word-break: break-all;
}

/* MENU  */
.vertical-menu {
  position: absolute;
  top: 0;
  transform: rotate(-180deg); /* rotate sur lui-même */
  border-right: solid var(--black) 2px; /* à cause du rotate left et right sont inversés */
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: baseline;
  width: 20px;
  height: 100%;
  z-index: 6;
}

.vertical-menu a {
  writing-mode: vertical-lr;
  text-transform: uppercase;
  color: var(--black);
  font-family: var(--h-family);
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  margin-right: 10px;
  line-height: 15px;
  text-decoration: none;
}

.lettre-nav {
  cursor: url('../asset/loudspeaker32.png'), pointer;
}

.medias-nav {
  cursor: url('../asset/sing32.png'), pointer;
}

.cantines-nav {
  cursor: url('../asset/ketchup32.png'), pointer;
}

.soutenir-nav {
  cursor: url('../asset/money-bag32.png'), pointer;
}

.contact-nav {
  cursor: url('../asset/call-center.png'), pointer;
}

/* PANELS AND SECTION */

.panels {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;
  background-color: var(--white);
}

.double-panels {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 100vh;
  width: calc(100vw - 80px);
  overflow: hidden;
  background-color: var(--white);
}

#dble-panels-events::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10x;
}

/* .event-page {
  overflow: hidden;
} */

.double-panels > * {
  min-width: 350px;
  overflow-y: scroll;
  background-color: var(--white);
  /*padding-right: 50px;  ça c'est pour les barres */
  /* margin-right: -50px; ça aussi */
  /* scrollbar-width: none !important;                   Firefox 
  -ms-overflow-style: none !important; IE 10+*/
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 4px;
}
::-webkit-scrollbar:hover {
  -webkit-appearance: none;
  width: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
  box-shadow: 0 0 1px rgba(255,255,255,.5);
}

::-webkit-scrollbar-track-piece {						/* Fond */
	background: transparent none;
	border: solid 4px transparent;
	/* border-right-width: 8px;
	margin: 4px;
	-webkit-box-shadow: inset 1px 1px 0 0 rgb(137,131,117), inset -1px -1px 0 0 rgb(224,220,210); */
}

.info-panel {
  flex: 1;
  height: 100%;
  background-color: var(--white);
}

.event-panel {
  padding-top: 20px;
  flex: 1;
  border-left: solid var(--black) 2px;
  background-color: var(--white);
  height: 100%;
}

.event-panel a {
  cursor: url('../asset/fireworks-32.png'), auto;
}

.section {
  /* display: none; */
  padding: 20px 20px 20px 50px;
  max-width: 420px;
  margin: auto;
  background-color: var(--white);
}

.section-events {
  /* display: none; */
  padding: 20px 20px 20px 70px;
  width: 100%;
  margin: auto;
  background-color: var(--white);
}

/* LOGO PANEL */

.logo-panel {
  position: relative;
  width: 80px;
  height: 100vh;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
}

.logo-panel a {
  text-decoration: none;
}

.logo {
  left: 10px;
  height: 100vh;
  position: relative;
  justify-content: center;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  display: flex;
  flex-direction: row;
}
.logo p {
  margin: 10px 20px;
  font-family: 'Abril Fatface';
  text-transform: uppercase;
  font-style: italic;
  transform: scale(2, 1) skew(-2deg) rotate(-2deg);
  font-size: 32px;
}

/* PAGE EVENEMENT */

#event-all {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 10px;
  width: 90%;
}

#non-animated-event {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  background-color: var(--white);
}

#event-all .event {
  padding: 0 10px;
}

/* AGENDA */

#past-event {
  text-align: center;
  margin-left: 15px;
}

@keyframes firstEvent {
  0% {
    transform: translate(5px, 0px);
  }
  12% {
    transform: translate(3px, 3px);
  }
  25% {
    transform: translate(0px, 5px);
  }
  37% {
    transform: translate(-3px, 3px);
  }
  50% {
    transform: translate(-5px, 0px);
  }
  62% {
    transform: translate(-3px, -3px);
  }
  75% {
    transform: translate(0px, -5px);
  }
  87% {
    transform: translate(3px, -3px);
  }
  100% {
    transform: translate(5px, 0px);
  }
}
@keyframes secondEvent {
  0% {
    transform: translate(-5px, 0px);
  }
  12% {
    transform: translate(-3px, 3px);
  }
  25% {
    transform: translate(0px, 5px);
  }
  37% {
    transform: translate(3px, 3px);
  }
  50% {
    transform: translate(5px, 0px);
  }
  62% {
    transform: translate(3px, -3px);
  }
  75% {
    transform: translate(0px, -5px);
  }
  87% {
    transform: translate(-3px, -3px);
  }
  100% {
    transform: translate(-5px, 0px);
  }
}

.event:nth-child(2n) .animated-event {
  animation: secondEvent 3s infinite linear;
}

.event-content {
  z-index: 5;
  position: relative;
  margin-bottom: 5px;
  width: 300px;
  padding: 0px 0 1px 0;
  background-color: var(--white);
}

.objetAgenda {
  text-decoration: none;
}

.animated-event {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  animation: firstEvent 4s infinite;
  animation-timing-function: linear;
  background-color: var(--white);
}

.animated-event {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  background-color: var(--white);
}

.animated-event:hover {
  animation: none !important;
}

.date {
  position: absolute;
  top: -85px;
  left: -7px;
}

#date-archives {
  top: -110px !important;
}

.date h3 {
  font-family: 'Lora';
  margin-bottom: 2px;
  font-size: 29px;
  color: var(--black);
  /* min-width: 350px; */
  background-color: var(--white);

}

.date h4 {
  font-family: 'Lora';
  margin-top: -2px;
  color: var(--black);
  font-size: 20px;
  background-color: var(--white);

}

.titre-event {
  margin: 20px 20px 0px 0px;
  line-height: 30px;
  max-width: 300px;
  border-bottom: dashed 2px var(--black);
}

.titre-event-text {
  padding: 20px 0 0 0;
  margin: 10px 0px;
}

.description-event {
  margin-right: 20px;
  margin-left: 10px;
}

.description-event p {
  font-size: 15px;
  font-weight: 400;
  line-height: 19px;
}

.event {
  position: relative;
  width: 400px;
  margin: 40px auto;
  background-color: var(--white);
}

.event h2 {
  font-family: var(--h-family);
  font-size: 20px;
  text-transform: uppercase;
}

.multiple-images-event {
  position: relative;
  margin-left: -100px;
  width: 200px;
  height: 300px;
}

@keyframes blinkAnimation {
  to {
    opacity: 1;
  }
}

.image-event:nth-child(1) {
  z-index: 1;
  top: 0;
  left: 0;
  opacity: 1;
}

.image-event:nth-child(2) {
  z-index: 2;
  top: -10px;
  left: -10px;
  /* opacity: 0.9; */
}

.image-event:nth-child(3) {
  z-index: 3;
  top: -20px;
  left: -20px;
  /* opacity: 0.8; */
}

.image-event:nth-child(4) {
  z-index: 4;
  top: -10px;
  left: -30px;
  opacity: 0.75;
  /* animation: blinkAnimation 10s steps(2, start) infinite; */
}

.image-event {
  position: absolute;
  width: 200px;
  height: 300px;
  background-size: cover;
  background-position: center;
}

.event img {
  flex: 1;
}

.event-list .event:nth-child(2n) img {
  bottom: 20px;
  left: -40px;
}

/* LETTRE */

.liens {
  padding-top: 30px;
  font-size: 30px;
}

.liens p {
  margin-top: 0
}

.abonnement {
  display: flex;
  align-items: center;
}

.abonnement ul {
  list-style: none;
  padding-right: 20px;
}

.separator {
  text-align: center;
  font-size: 40px;
  margin-bottom: 0px;
}

.lettre h2 {
  border-bottom: 3px dashed var(--black);
  padding-bottom: 15px;
}

.social {
  display: flex;
}

.social a {
  margin-right: 20px;
}

.submit {
  cursor: pointer;
}

.btn-box {
  width: 100%;
  text-align: center;
  margin-bottom: 100px;
}

.btn-box a {
  margin: 0px auto;
  text-decoration: none;
  color: var(--black);
  font-weight: 600;
  font-size: 17px;
}

button {
  text-transform: uppercase;
  padding: 4px;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
}

/* MEDIA */

.media .card {
  margin-bottom: 15px;
  border-bottom: 3px dashed var(--black);
  position: relative;
}

.media a {
  text-decoration: none;
  color: var(--black);
}

.media .card:hover p,
.media .card:hover .titre-icon {
  color: var(--black);
  opacity: 0;
}

.media .card:hover #titre-hover {
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  text-transform: uppercase;
  transform: translate(-50%, -50%);
  font-size: 80px;
  color: var(--black);
  opacity: 1;
}

.titre-icon {
  display: flex;
  justify-content: space-between;
  margin-bottom: -20px;
}

#titre-hover {
  display: none;
}

.icon {
  position: relative;
  top: 16px;
  margin-left: 20px;
}

/* CONTACT */

.contact h2 {
  margin-bottom: -10px;
}

/* ARTICLE */

.article-panel {
  flex: 1;
  height: 100%;
  overflow-x: hidden;
}

.article-panel img {
  max-width: 100%;
  height: auto;
  margin: 20px 0;
}

.images-panel {
  flex: 1;
  display: flex;
  padding-right: 37px;
  justify-content: center;
  border-left: solid var(--black) 2px;
  background-color: var(--white);
  height: 100%;
}

iframe {
  max-width: 100%;
  margin-bottom: 25px;
}

.chapo p {
  font-weight: 600;
}

.chapo img {
  width: 100%;
  height: auto;
}

/* CYCLE */

#cycle #agenda h1 {
  display: flex;
  justify-content: center;
}

.cycle-fab {
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
  border-radius: 50%;
  background-color: #ffd972;
  box-shadow: 0 4px 5px 0 #666;
  padding: 0 7px;
  text-decoration: none;
  height: 30px;
}

.cycle-fab p {
  color: var(--white);
  font-family: var(--p-family);
  font-weight: 500;
  margin-right: 5px;
}

.cycle-fab #cycle-arrow-d {
  background-image: url('../asset/arrow-d.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: auto;
  width: 19px;
  height: 19px;
}

/* LOGO */

.spip_logo {
  max-width: 100%;
  height: auto;
  margin-bottom: -10px;
}

/* MEDIA QUERIES */

/* landscape */
@media screen and (max-height: 480px) and (orientation: landscape) {
  .vertical-menu a {
    font-size: 14px;
  }

  .logo p {
    font-size: 25px;
  }
}

@media screen and (max-width: 480px) {
  /* GENERAL */

  h1 {
    font-size: 6vw;
    margin-top: -10px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 20px;
  }

  p {
    font-size: 100%;
  }

  /* MEDIAS */

  .titre-icon {
    margin-bottom: -30px;
  }

  .icon {
    top: 15px;
    width: 30px;
    height: 30px;
  }

  .media .card {
    margin-right: 20px;
    margin-bottom: 0;
  }

  card p {
    line-height: 1.4em;
  }

  .media .card:hover #titre-hover {
    font-size: 44px;
  }

  /* LETTRE */

  .separator {
    margin: 0;
  }

  .abonnement {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
  }

  .abonnement ul {
    margin: 0;
    padding: 0;
  }

  .liens {
    font-size: 19px;
  }

  /* SECTION & PANEL */

  .info-panel {
    width: 100%;
  }

  .section {
    padding: 20px 20px 20px 45px;
  }

  .event-panel {
    margin: 0 !important;
  }

  #event-all {
    width: 100%;
    margin: 50px 0 0 -81px;
    align-items: center;
  }

  #h1-event-all {
    width: 70%;
  }

  /* AGENDA */

  #agenda .agenda-h2 h2 {
    border-bottom: 3px dashed var(--black) !important;
    padding-bottom: 15px !important;
    color: blue !important;
    margin-left: 25px !important;
  }

  .event-list {
    overflow-x: hidden;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }

  .image-event {
    width: 167px;
    height: 250px;
  }

  .event-content {
    width: 200px;
  }

  .event {
    margin: 10px auto 40px;
    width: 300px;
  }

  .description-event {
    margin-left: 5px;
  }

  .multiple-images-event {
    width: 167px;
    height: 250px;
  }

  .event h2 {
    font-size: 15px;
  }

  .titre-event {
    margin: 20px 0 0 5px;
    line-height: 19px;
  }

  .date {
    top: -35px;
    left: 6px;
  }

  .date h3 {
    font-size: 20px;
    min-width: 0;
    max-width: 100vw;
    background-color: var(--white);
    padding: 0 5px 10px 5px;
    margin: 0;
    line-height: 16px;
  }

  .date h4 {
    margin-top: 0px;
    font-size: 17px;
    background-color: var(--white);
  }


  .vertical-menu a {
    margin-right: 8px;
  }
}

@media screen and (max-width: 580px) {
  .spip_logo {
    max-width: 80%;
  }

  .article-panel img {
    max-width: 80%;
    margin: 10px 0;
  }

  .article .section {
    max-width: 75%;
    margin-left: 0;
  }

  .panels {
    display: block;
  }

  .double-panels {
    width: 100%;
    margin: 0px;
  }

  .double-panels > * {
    min-width: 0px;
    margin: 0px;
    padding: 0px;
  }

  .logo-panel {
    width: 100%;
    height: 60px;
    z-index: 7;
    left: 5%;
    margin: 20px auto;
  }

  .event-panel {
    border: none;
    margin-left: 50px;
  }

  .logo {
    position: initial !important;
    writing-mode: horizontal-tb;
    transform: none;
    /* margin-left: 25px !important; */
  }

  .logo p {
    transform: scale(1, 2.5) skew(-2deg) rotate(0deg);
    font-size: 6.5vw !important;
    margin: 10px 5px;
  }

  .vertical-menu {
    border: none;
    height: 100vh;
    margin-left: solid 2px var(--black);
  }

  .vertical-menu a {
    font-size: 15px;
    font-style: italic;
  }

  .images-panel {
    margin-right: 10px;
  }

  #event-all {
    width: 100%;
    margin: 50px 0 0 -70px;
    align-items: center;
  }

  #h1-event-all {
    width: 70%;
  }

  #past-event {
    margin-left: auto !important;
    margin-right: auto;
  }
/* 
  .article-lettre {
    max-width: 70% !important;
  } */
}

@media screen and (max-width: 900px) {
  .panels {
    height: auto;
  }

  .double-panels {
    flex-wrap: wrap;
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
    flex-direction: column-reverse;
  }

  .logo {
    position: fixed;
    margin-left: -16px;
  }

  .vertical-menu {
    position: fixed;
    padding-left: 20px;
  }

  /* ARTICLE */

  .double-panels > * {
    margin-right: -50px;
  }

  .images-panel {
    margin-left: 40px !important;
    border-left: none;
    max-height: 800px;
  }

  #event-all {
    width: 100%;
    margin: 50px 0 0 -60px;
    align-items: center;
  }

  #h1-event-all {
    width: 70%;
  }

  #past-event {
    text-align: center;
    margin-left: 35px;
  }

  .letters{
    flex-direction: column !important;
  }

  .article-lettre {
    max-width: 65% !important;
  }
}
