<div class="contact">
  <h2>Maison de la Grève</h2>
  <h3>désertion & secession since 2010</h3>

  <p>
    mail: maisondelagreve [arobase] riseup.net
  </p>

  <div class="social">
    <a href="https://twitter.com/MG_Rennes">
      <p>twitter</p>
    </a>
    <p>&#x1F426;</p>
  </div>
  <div class="social">
    <a href="https://www.facebook.com/maisondelagreverennes">
      <p>facebook</p>
    </a>
    <p>&#x1F4BB;</p>
  </div>
  <div class="social">
    <a href="https://www.youtube.com/channel/UCveqS684-fszhp0do01leAw/videos">
      <p>youtube</p>
    </a>
    <p>&#x1F4F9;</p>
  </div>
  <div class="social">
    <a href="https://www.mixcloud.com/maisondelagr%C3%A8ve/">
      <p>mixcloud</p>
    </a>
    <p>&#x1F4FB;</p>
  </div>

  <p>
    Adresse: 37 rue legraverend, Rennes city Metro: Anatole France
  </p>
  <iframe
    width="100%"
    height="300px"
    frameborder="0"
    allowfullscreen
    src="https://umap.openstreetmap.fr/en/map/untitled-map_227884?scaleControl=false&miniMap=false&scrollWheelZoom=false&zoomControl=true&allowEdit=false&moreControl=true&searchControl=null&tilelayersControl=null&embedControl=null&datalayersControl=true&onLoadPanel=undefined&captionBar=false"
  ></iframe>
  <p>
    <a href="https://umap.openstreetmap.fr/en/map/untitled-map_227884"
      >Voir la carte en grand</a
    >
  </p>
</div>
