<B_evenement>     
<BOUCLE_evenement(EVENEMENTS){id_rubrique IN #ENV{liste_rubriques}}{age_fin<=1}{par date_debut}>
        <div class="event">
            <div class= "animated-event [(#ID_RUBRIQUE|=={17}|?{cycle-event, ''})]" >
                <a class="multiple-images-event" href="#URL_ARTICLE&id_evenement=#ID_EVENEMENT">
                    <div
                        class="image-event"
                        style="background-image:url('[IMG/(#LOGO_ARTICLE|fichier)]')"
                    >
                    </div>
                      <div
                      class="image-event"
                      style="background-image:url('[IMG/(#LOGO_ARTICLE|fichier)]');"
                      >
                    </div>
                    <div
                        class="image-event"
                        style="background-image:url('[IMG/(#LOGO_ARTICLE|fichier)]');"
                    >
                    </div>
                    <div
                        class="image-event"
                        style="background-image:url('[IMG/(#LOGO_ARTICLE|fichier)]');"
                    >
                    </div>
                </a>
                <a class="objetAgenda" href="#URL_ARTICLE&id_evenement=#ID_EVENEMENT">
                    <div class="event-content">
                        <div class="date">
                            <h3>
                                <!-- dans tous les cas la date de début -->
                                [(#DATE_DEBUT|jour)]/[(#DATE_DEBUT|mois)]
                                <!-- Si jour de début différent de jour de fin, -->
                                [(#DATE_DEBUT|affdate|!={#DATE_FIN|affdate}|oui)
                                <!-- date de fin -->
                                au [(#DATE_FIN|jour)]/[(#DATE_FIN|mois)]
                                ]
                            </h3>
                            <h4>à [(#DATE_DEBUT|heures)]h[(#DATE_DEBUT|minutes)]</h4>

                        </div>

                        <div class="titre-event">


                            <h2 class="titre-event-text" [(#ID_RUBRIQUE|=={17}|?{id="titre-card-cycle", ''})]>
                            #TITRE
                            </h2>
                        </div>
                        <BOUCLE_descriptif(ARTICLES){id_article}>
                                <div class="description-event">#DESCRIPTIF</div>
                            </BOUCLE_descriptif>
                    </div>
                </a>
            </div>
        </div>
    </BOUCLE_evenement>
</B_evenement>