<B_articles>
    <div class="media">
        <h2>
            Médias
        </h2>
        
        <BOUCLE_articles(ARTICLES){id_rubrique IN 13,14,15,16}{par date}{inverse} >

            <a href="#URL_ARTICLE">
                <div class="card">
                    <div id="titre-hover">
                        #INFO_TITRE{rubrique,#ID_RUBRIQUE}
                    </div>
                    <div class="titre-icon">
                        <h3> #TITRE</h3>
                        <div class="icon">[(#LOGO_RUBRIQUE|image_reduire{40,*})]</div>
                    </div>
                    <BOUCLE_descriptif(ARTICLES){id_article}>
                    #DESCRIPTIF
                    </BOUCLE_descriptif>                    
                </div>
            </a>
        </BOUCLE_articles>
    </div>
</B_articles>