	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 	<link rel="stylesheet" href="#CHEMIN{css/style-mg.css}" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
	<title>Maison de la Grève</title>