<BOUCLE_rubrique(RUBRIQUES){id_rubrique=3}>
    <h2>#TITRE</h2>
    <div style="background-image: url('[IMG/(#LOGO_RUBRIQUE|fichier)]')"></div>
    <p>#TEXTE</p>
    <h2>Breaking News</h2>

    <BOUCLE_infoCantine(ARTICLES){id_rubrique=11}{par date}{inverse}{0,3}>
        <div>
        <h3>#TITRE</h3>
        <p>#TEXTE</p>
        </div>
    </BOUCLE_infoCantine>
    <INCLURE{fond=inc/inc-agenda, liste_rubriques=#LISTE{10}}>
</BOUCLE_rubrique>