<BOUCLE_lettre(ARTICLES){id_rubrique=5}{par date}{inverse}{0,1}>
  <div class='lettre'>
    <h2>#TITRE</h2>
    <div>
      #TEXTE
    </div>
    <div class='liens'>
        <p class="separator">🙃</p>

      <p>Recevez directement la lettre️ dans votre boite mail :</p>
    </div>
    <div>
      #FORMULAIRE_ABOMAILMAN_MINI_UNE_LISTE{1}
    </div>
      <!-- <p class="separator">😉</p> -->
    <div class='liens'>
        <p>(Re)lisez les anciennes lettres :</p>  

    </div>
    <div class='btn-box'>
        <a href="#URL_RUBRIQUE{4}"><button>lire les lettres</button></a>
    </div>

  </div>  
</BOUCLE_lettre>